img {
    object-fit: cover;
    border-radius: 5px;
}

img.sidebar {
    height: 7vh;
    width: 7vw;
    object-fit: cover;
    justify-content: center;
    align-content: center;
    padding-bottom: 200px;
}

section.profile {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    width: 100%;
    height: 10%;
    background-color: white;
    border-bottom: 2px solid;
    border-bottom-color: rgb(236, 204, 204);
    left: 11vw;
    padding-block: 10px;
    position: relative;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
}

.bio {
    word-wrap: break-word;
    padding-left: 20px;
}

h1 {
    padding-left: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 100%;
    justify-content: left;
    gap: 2px;
    margin-left: 11vw;
    align-content: flex-start;
}

.profile-main {
    padding-top: 10px;
}

.links {
    font-size: 15px;
    display: inline-flex;
    padding-left: 10px;
}

.follow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
}

.navig:hover {
    transform: scale(0.98);
    transition: ease-in;
    opacity: 80%;
}

.item {
    width: 21vw;
    height: 21vw;
}

.item:hover {
    transform: scale(1.01);
    transition: .4s ease-out;
}

.detail {
    display: grid;
    margin-left: 11vw;
    justify-content: center;
}

.center {
    display: grid;
    justify-content: center;
    text-align: center;
}

.max {
    width: 100%;
    height: 80vw;
    display: grid;
    justify-content: center;
}

nav {
    height: 100vh;
    width: 8vw;
    position: fixed;
    background-image: url(https://img.freepik.com/premium-vector/pretty-pink-plaid-background-picnic-country-party_405506-77.jpg);
    background-attachment: fixed;
    background-size:contain;
    opacity: 80%;
    top: 0;
    left: 0;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    border-right: 2px solid;
    border-right-color: rgb(236, 204, 204);
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
}

.navig {
    align-content: center;
    justify-content: center;
    height: 5vh;
    width: 5vw;
}

a {
    color: rgb(255, 109, 134);
    text-decoration-line: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.tags {
    background-color: rgb(255, 216, 222);
    border-radius: 5px;
    border-color: rgb(255, 177, 190);
    font-family: Calibri, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(108, 59, 74);
}

::-webkit-scrollbar {
    height: 0px; /** height of total scrollbar **/
    width: 0px; /** width of total scrollbar **/
    background: #ffc99c; /** background of scrollbar **/
    border: 0px solid #000; /** border around whole scrollbar **/
    }
