img {
    object-fit: cover;
    border-radius: 5px;
}

img.sidebar {
    height: 7vh;
    width: 7vw;
    object-fit: cover;
    justify-content: center;
    align-content: center;
    padding-bottom: 200px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 100%;
    justify-content: left;
    gap: 2px;
    margin-left: 11vw;
    align-content: flex-start;
}

.description {
    font-family:"Calibri", sans-serif;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.username {
    font-size: 30px;
    font-family:"Calibri", sans-serif;
}

.title {
    font-size: 50px;
    font-family:"Calibri", sans-serif;
    text-align: center;
    padding-right: 15px;
}

.text {
    font-family:"Calibri", sans-serif;
}

.item img {
    width: 21vw;
    height: 21vw;
    object-fit: cover;
    border-radius: 5px;
}

.item:hover {
    transform: scale(1.01);
    transition: 1s ease-out;
}

.detail {
    display: grid;
    justify-content: center;
    padding-right: 50px;
}

.center {
    display: grid;
    justify-content: center;
    text-align: center;
}

.max {
    width: 100%;
    height: 100%;
}

.search-main {
    padding-top: 10px;
}

.explore-2 {
    margin-left: 11vw;
    display: grid;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    border-bottom-color: rgb(236, 204, 204);
}

nav {
    height: 100vh;
    width: 8vw;
    position: fixed;
    background-image: url(https://img.freepik.com/premium-vector/pretty-pink-plaid-background-picnic-country-party_405506-77.jpg);
    background-attachment: fixed;
    background-size:contain;
    opacity: 80%;
    top: 0;
    left: 0;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    border-right: 2px solid;
    border-right-color: rgb(236, 204, 204);
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
}

.navig {
    align-content: center;
    justify-content: center;
    height: 5vh;
    width: 5vw;
}

.navig:hover {
    transform: scale(0.98);
    transition: ease-in;
    opacity: 80%;
}

a {
    color: rgb(255, 109, 134);
    text-decoration-line: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.tags {
    background-color: rgb(255, 216, 222);
    border-radius: 5px;
    border-color: rgb(255, 177, 190);
    font-family: Calibri, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(108, 59, 74);
}

::-webkit-scrollbar {
    height: 0px; /** height of total scrollbar **/
    width: 0px; /** width of total scrollbar **/
    background: #ffc99c; /** background of scrollbar **/
    border: 0px solid #000; /** border around whole scrollbar **/
    }
