{% extends 'base.html' %}
{% load static %}
{% block title %}
    Followers - {{ artist.username }}
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href='{% static "css/accounts.css" %}'>
    <header>
        <nav>
            <div>
                <p>
                    <a href="{% url 'art_list' %}">
                        <img class="sidebar"
                             src="https://ih0.redbubble.net/avatar.8998414.140x140.jpg">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'art_list' %}">
                        <img src="{% static 'navigation/home.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'user_profile' request.user.id %}">
                        <img src="{% static 'navigation/profile.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'explore' %}">
                        <img src="{% static 'navigation/explore.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'upload' %}">
                        <img src="{% static 'navigation/upload.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'logout' %}">
                        <img src="{% static 'navigation/logout.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="javascript: history.go(-1)">
                        <img src="{% static 'navigation/back.png' %}">
                    </a>
                </p>
            </div>
        </nav>
    </header>
    <section class="profile">
        <div class="container-1">
            {% if artist.profile.avatar %}
                <div>
                    <img src="{{ artist.profile.avatar.url }}" height=200, width=200 />
                </div>
            {% else %}
                <div>
                    <img src="{% static 'images/sidebar_icon.png' %}" height=200, width=200 />
                </div>
            {% endif %}
        </div>
        <div class="container-2">
            <h1>
                <a href="{% url 'user_profile' artist.id %}">{{ artist.username }}</a>
            </h1>
            <div class="bio">{{ artist.profile.bio }}</div>
            <div class="bio">
                <br>
                <br>
                <a href="{% url 'show_follow' artist.id %}">Followers:</a> {{ follower.count }}
                <span></span>
                <a href="{% url 'show_follow' artist.id %}">Following:</a> {{ followee.count }}
            </div>
        </div>
    </section>
    <main class="follow">
        <div class="followers">
            <h2>Followers: {{ follower.count }}</h2>
            <ul>
                {% for follow in follower %}
                    <li>
                        {{ follow.name_of_follower }}
                        {% if request.user == artist %}
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="follower_id" value="{{ follow.id }}">
                                <button type="submit">Remove</button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="following">
            <h2>Following: {{ followee.count }}</h2>
            <ul>
                {% for follow in followee %}
                    <li>
                        {{ follow.artist_followed }}
                        {% if request.user == artist %}
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="followee_id" value="{{ follow.id }}">
                                <button type="submit">Unfollow</button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock content %}
