{% extends 'base.html' %}
{% load static %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href='{% static "css/accounts.css" %}'>
    <header class="center">
        <nav>
            <div>
                <p>
                    <img class="sidebar"
                         src="https://ih0.redbubble.net/avatar.8998414.140x140.jpg">
                </p>
            </div>
        </nav>
    </header>
    <main class="center">
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();">Login</button>
            </form>
        </div>
        <div>
            <a href="{% url 'signup' %}">
                <button>Sign Up</button>
            </a>
            <br>
            <br>
            <a href="{% url 'password_reset' %}">
                <button>Forgot Password?</button>
            </a>
        </div>
    </main>
{% endblock content %}
