{% extends 'base.html' %}
{% load static %}
{% block title %}
    Profile - {{ artist.username }}
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href='{% static "css/accounts.css" %}'>
    <header>
        <nav>
            <div>
                <p>
                    <a href="{% url 'art_list' %}">
                        <img class="sidebar"
                             src="https://ih0.redbubble.net/avatar.8998414.140x140.jpg">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'art_list' %}">
                        <img src="{% static 'navigation/home.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'user_profile' request.user.id %}">
                        <img src="{% static 'navigation/profile.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'explore' %}">
                        <img src="{% static 'navigation/explore.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'upload' %}">
                        <img src="{% static 'navigation/upload.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'logout' %}">
                        <img src="{% static 'navigation/logout.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="javascript: history.go(-1)">
                        <img src="{% static 'navigation/back.png' %}">
                    </a>
                </p>
            </div>
        </nav>
    </header>
    <section class="profile">
        <div class="container-1">
            {% if artist.profile.avatar %}
                <div>
                    <img src="{{ artist.profile.avatar.url }}" height=200, width=200 />
                </div>
            {% else %}
                <div>
                    <img src="{% static 'images/sidebar_icon.png' %}" height=200, width=200 />
                </div>
            {% endif %}
        </div>
        <div class="container-2">
            <h1>
                {{ artist.username }}
                <div class="links">
                    {% if artist == request.user %}
                        {% if artist.profile %}
                            <a href="{% url 'edit_profile' artist.profile.id %}">Edit</a>
                        {% else %}
                            <a href="{% url 'create_profile' %}">Create</a>
                        {% endif %}
                    {% else %}
                        {% if not followed %}
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();">Follow</button>
                            </form>
                        {% else %}
                            <form method="post">
                                {% csrf_token %}
                                <button name="unfollow">Unfollow</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </h1>
            <div class="bio">{{ artist.profile.bio }}</div>
            <div class="bio">
                <br>
                <br>
                <a href="{% url 'show_follow' artist.id %}">Followers:</a> {{ followers.count }}
                <span></span>
                <a href="{% url 'show_follow' artist.id %}">Following:</a> {{ following.count }}
            </div>
        </div>
    </section>
    <main class="profile-main">
        {% for item in art_list %}
            {% if item.private == False or item.artist == request.user %}
                <a href="{% url 'show_art' item.id %}">
                    <img class="item" src="{{ item.file.url }}">
                </a>
            {% endif %}
        {% endfor %}
    </main>
{% endblock content %}
