{% extends 'base.html' %}
{% load static %}
{% block title %}
    Reset Complete
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href='{% static "css/accounts.css" %}'>
    <header class="center">
        <nav>
            <div>
                <p>
                    <img class="sidebar"
                         src="https://ih0.redbubble.net/avatar.8998414.140x140.jpg">
                </p>
            </div>
        </nav>
    </header>
    <main class="center">
        <div>
            <h1>Your password has been reset. You may go login.</h1>
            <div>
                <a href="{% url 'login' %}">
                    <button>Login</button>
                </a>
            </div>
        </main>
    {% endblock content %}
