{% extends 'base.html' %}
{% load static %}
{% block title %}
    Confirm Reset
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href='{% static "css/accounts.css" %}'>
    <header class="center">
        <nav>
            <div>
                <p>
                    <img class="sidebar"
                         src="https://ih0.redbubble.net/avatar.8998414.140x140.jpg">
                </p>
            </div>
        </nav>
    </header>
    {% if validlink %}
        <main class="center">
            <div>
                <h1>Reset Password</h1>
                <form method="post">
                    {% csrf_token %}
                    <label for="id_password1">New Password</label>
                    <input type="password"
                           name="password1"
                           autocomplete="new-password"
                           class="form-control"
                           required
                           id="id_password1"
                           placeholder="Enter password" />
                    <label for="id_password2">Confirm Password</label>
                    <input type="password"
                           name="password2"
                           autocomplete="new-password"
                           required
                           id="id_password2"
                           class="form-control"
                           placeholder="Confirm password" />
                    <button type="submit"
                            onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();">
                        Reset Password
                    </button>
                </form>
            </div>
            <div>
                <a href="{% url 'signup' %}">
                    <button>Sign Up</button>
                </a>
                <br>
                <a href="{% url 'login' %}">
                    <button>Login</button>
                </a>
            </div>
        {% else %}
            <div>
                The password reset link was invalid.
                Please request a new password reset.
            </div>
        {% endif %}
    </main>
{% endblock content %}
