{% extends 'base.html' %}
{% load static %}
{% block title %}
    Reset Password
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href='{% static "css/accounts.css" %}'>
    <header class="center">
        <nav>
            <div>
                <p>
                    <img class="sidebar"
                         src="https://ih0.redbubble.net/avatar.8998414.140x140.jpg">
                </p>
            </div>
        </nav>
    </header>
    <main class="center">
        <div>
            <h1>Reset Password</h1>
            <form method="post">
                {% csrf_token %}
                <label for="id_email">Email</label>
                <input type="email"
                       name="email"
                       class="form-control"
                       autocomplete="email"
                       maxlength="250"
                       required
                       id="id_email"
                       placeholder="Enter email" />
                <br>
                <button type="submit"
                        onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();">Submit</button>
            </form>
        </div>
        <div>
            <a href="{% url 'signup' %}">
                <button>Sign Up</button>
            </a>
            <br>
            <br>
            <a href="{% url 'login' %}">
                <button>Login</button>
            </a>
        </div>
    </main>
{% endblock content %}
