{% extends 'base.html' %}
{% load static %}
{% block title %}
    Signup
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href='{% static "css/accounts.css" %}'>
    <header class="center">
        <nav>
            <div>
                <p>
                    <img class="sidebar"
                         src="https://ih0.redbubble.net/avatar.8998414.140x140.jpg">
                </a>
            </p>
        </div>
    </nav>
</header>
<main class="center">
    <div>
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();">Sign Up</button>
        </form>
    </div>
    <br>
    <div>
        <a href="{% url 'login' %}">
            <button>Login</button>
        </a>
    </div>
</main>
{% endblock content %}
