{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ request.user }} - Create New Tag
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href='{% static "css/arts.css" %}'>
    <header>
        <nav>
            <div>
                <p>
                    <a href="{% url 'art_list' %}">
                        <img class="sidebar"
                             src="https://ih0.redbubble.net/avatar.8998414.140x140.jpg">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'art_list' %}">
                        <img src="{% static 'navigation/home.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'user_profile' request.user.id %}">
                        <img src="{% static 'navigation/profile.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'explore' %}">
                        <img src="{% static 'navigation/explore.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'upload' %}">
                        <img src="{% static 'navigation/upload.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'logout' %}">
                        <img src="{% static 'navigation/logout.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="javascript: history.go(-1)">
                        <img src="{% static 'navigation/back.png' %}">
                    </a>
                </p>
            </div>
        </nav>
    </header>
    <main>
        <div>
            <h1>Create New Tag</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();">Add</button>
            </form>
        </div>
    </main>
{% endblock content %}
