{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ art_detail.artist }} - {{ art_detail.name }}
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href='{% static "css/arts.css" %}'>
    <header>
        <nav>
            <div>
                <p>
                    <a href="{% url 'art_list' %}">
                        <img class="sidebar"
                             src="https://ih0.redbubble.net/avatar.8998414.140x140.jpg">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'art_list' %}">
                        <img src="{% static 'navigation/home.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'user_profile' request.user.id %}">
                        <img src="{% static 'navigation/profile.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'explore' %}">
                        <img src="{% static 'navigation/explore.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'upload' %}">
                        <img src="{% static 'navigation/upload.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'logout' %}">
                        <img src="{% static 'navigation/logout.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="javascript: history.go(-1)">
                        <img src="{% static 'navigation/back.png' %}">
                    </a>
                </p>
            </div>
        </nav>
    </header>
    <main class="detail center">
        <div>
            <img class="center max" src="{{ art_detail.file.url }}">
        </div>
        <div>
            <h1 class="center title">{{ art_detail.name }}</h1>
        </div>
        <p class="center text">
            Created on {{ art_detail.date }} by <a class="center username"
    href="{% url 'user_profile' art_detail.artist.id %}">{{ art_detail.artist }}</a>
        </p>
        <div class="center description">{{ art_detail.description|linebreaks }}</div>
        <br>
        <br>
        <br>
        {% if art_detail.tags.count > 0 %}
            <div class="center">
                {% for tag in art_detail.tags.all %}<button class="tags">{{ tag.name }}</button>{% endfor %}
            </div>
        {% endif %}
        {% if art_detail.artist == request.user %}
            <p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a class="center" href="{% url 'edit' art_detail.id %}">
                    <button>Edit</button>
                </a>
                <br>
                <a class="center" href="{% url 'delete_art' art_detail.id %}">
                    <button>Delete</button>
                </a>
            </p>
        {% endif %}
    </main>
{% endblock content %}
