{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href='{% static "css/arts.css" %}'>
    <header>
        <nav>
            <div>
                <p>
                    <a href="{% url 'art_list' %}">
                        <img class="sidebar"
                             src="https://ih0.redbubble.net/avatar.8998414.140x140.jpg">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'art_list' %}">
                        <img src="{% static 'navigation/home.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'user_profile' request.user.id %}">
                        <img src="{% static 'navigation/profile.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'explore' %}">
                        <img src="{% static 'navigation/explore.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'upload' %}">
                        <img src="{% static 'navigation/upload.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'logout' %}">
                        <img src="{% static 'navigation/logout.png' %}">
                    </a>
                </p>
            </div>
        </nav>
    </header>
    <main>
        {% for item in art_list %}
            {% if not item.private %}
                <a href="{% url 'show_art' item.id %}">
                    <img class="item" src="{{ item.file.url }}">
                </a>
            {% endif %}
        {% endfor %}
    </main>
{% endblock content %}
