{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ request.user }}'s Tags
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href='{% static "css/arts.css" %}'>
    <header>
        <nav>
            <div>
                <p>
                    <a href="{% url 'art_list' %}">
                        <img class="sidebar"
                             src="https://ih0.redbubble.net/avatar.8998414.140x140.jpg">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'art_list' %}">
                        <img src="{% static 'navigation/home.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'user_profile' request.user.id %}">
                        <img src="{% static 'navigation/profile.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'explore' %}">
                        <img src="{% static 'navigation/explore.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'upload' %}">
                        <img src="{% static 'navigation/upload.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="{% url 'logout' %}">
                        <img src="{% static 'navigation/logout.png' %}">
                    </a>
                </p>
                <p>
                    <a class="navig" href="javascript: history.go(-1)">
                        <img src="{% static 'navigation/back.png' %}">
                    </a>
                </p>
            </div>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Tags</h1>
            <h2>Click on tag name to edit.</h2>
            <ul>
                {% for tag in tag_list %}
                    <li>
                        <a href="{% url 'edit_tag' tag.id %}">{{ tag.name }}</a>
                        <span></span>
                        <a href="{% url 'delete_tag' tag.id %}">
                            <button>Delete</button>
                        </a>
                    </li>
                    <br>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock content %}
